<div>

    <h2 translate="icampusApp.unit.home.title">Unit</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveUnitModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="icampusApp.unit.home.createLabel">Create a new Unit</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveUnitModal" tabindex="-1" role="dialog" aria-labelledby="myUnitLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myUnitLabel" translate="icampusApp.unit.home.createOrEditLabel">Create or edit a Unit</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="unit.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="icampusApp.unit.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="unit.name" required>

                            <div ng-show="editForm.name.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="icampusApp.unit.uriName">UriName</label>
                            <input type="text" class="form-control" name="uriName"
                                   ng-model="unit.uriName" required>

                            <div ng-show="editForm.uriName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.uriName.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="icampusApp.unit.category">Category</label>
                            <input type="text" class="form-control" name="category"
                                   ng-model="unit.category" required>

                            <div ng-show="editForm.category.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.category.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="icampusApp.unit.leftId">LeftId</label>
                            <input type="number" class="form-control" name="leftId"
                                   ng-model="unit.leftId" required>

                            <div ng-show="editForm.leftId.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.leftId.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.leftId.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="icampusApp.unit.rightId">RightId</label>
                            <input type="number" class="form-control" name="rightId"
                                   ng-model="unit.rightId" required>

                            <div ng-show="editForm.rightId.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.rightId.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.rightId.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="icampusApp.unit.manager">manager</label>
                            <select class="form-control" name="manager" ng-model="unit.manager.id" ng-options="user.id as user.login for user in users">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="icampusApp.unit.parent">parent</label>
                            <select class="form-control" name="parent" ng-model="unit.parent.id" ng-options="unit.id as unit.name for unit in units">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteUnitConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(unit.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="icampusApp.unit.delete.question" translate-values="{id: '{{unit.id}}'}">Are you sure you want to delete this Unit?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="icampusApp.unit.name">Name</th>
                    <th translate="icampusApp.unit.uriName">UriName</th>
                    <th translate="icampusApp.unit.category">Category</th>
                    <th translate="icampusApp.unit.leftId">LeftId</th>
                    <th translate="icampusApp.unit.rightId">RightId</th>
                    <th translate="icampusApp.unit.manager">manager</th>
                    <th translate="icampusApp.unit.parent">parent</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="unit in units">
                    <td><a ui-sref="unitDetail({id:unit.id})">{{unit.id}}</a></td>
                    <td>{{unit.name}}</td>
                    <td>{{unit.uriName}}</td>
                    <td>{{unit.category}}</td>
                    <td>{{unit.leftId}}</td>
                    <td>{{unit.rightId}}</td>
                    <td>{{unit.manager.login}}</td>
                    <td>{{unit.parent.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="unitDetail({id:unit.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(unit.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(unit.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
